h1{
    text-align: center;
}
header{
    background-color: black;
    color: rosybrown;
}
  
/*tarea nro 6*/
.nav{
    background-color: rgb(240, 113, 219);
    color: rgb(228, 179, 207);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
.nav {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(14, 0, 8);
}

.titulo {
    display: block;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.animate__animated {
    animation-duration: 1s;
}