:root{
    --color-primario :#03363D;
    --color-secundario :#174D4D;
    --color-background :#FFFFFF;
    --color-alt        :#F8F9F9;
    --color-nav-princ  :#00CBFF;
    --color-nav-sec    :#00BFF0;
    --color-foot-princ :#FF3C32;
    --color-foot-sec   :#FF2419;
    --color-texto-princ:#bc8f8f;
    --color-texto-sec  :#ff5900;
}

main{
    background-color: var(--color-secundario);/* #89a1a1 */
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
}

main h3{
    text-align: center;   
    color: var(--color-texto-princ);
}

main ul{
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: var(--color-alt);
    color: var(--color-texto-princ);
    text-decoration: none;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
}

main ul :last-child{
    color: var(--color-texto-sec);
    /*background-color: #0f3433;*/
    border-radius: 5px;
}

main ul :hover{
    transform: scale(3, 3);
    transition: all 1s ease-in;
}

main ul li{       
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 6rem;
}

main ul li:nth-child(1){   
    /*background-color: rgb(8, 70, 57);*/
    color: var(--color-texto-sec);
    border-radius: 5px;
    width: 3rem;
}

main ul li a{
    text-decoration: none;
}

main ul li a:active {
    background-color: rgb(175, 227, 175); 
    color: white;
}

section ul{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-secundario);
    color: var(--color-texto-princ);   
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
}

section ul li a{
    text-decoration: none;
    color: var(--color-texto-princ); 
}
