
footer {
    

    background-color: black;
    text-align: center;
    margin-top: 25px;
   
  }
  .social-icons {
      text-align: center;
      margin-top: 8px;
    }
    
    .social-icon {
      margin: 5px;
      text-decoration: none;
      display: inline-block;
    }
    
    .social-icon i {
      background: rosybrown;
      color: white;
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 18px;
      border-radius: 5px;
    }
    
    /* Efecto al pasar el mouse sobre los iconos */
    .social-icon:hover {
      opacity: 0.7;
    }
    
footer div a{
    display: inline-block;
    text-decoration: none;
    color: rosybrown;
    text-align: center;
    margin-top: 10px;
    font-style: oblique;
}  

footer p{
    display: inline-block;
    color: bisque;
    text-align: center;
    margin: 15px;
    font-style: oblique;
}  
